@model WebDevGroupProject.Models.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighSchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighSchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEEBCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEEBCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighSchoolTranscriptPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighSchoolTranscriptPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredMajor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredMajor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredMinor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredMinor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestedInHonors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestedInHonors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChurchZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChurchZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionOfFaith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionOfFaith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpiritualJourney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpiritualJourney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyHolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyGroupNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyGroupNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCardFrontPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCardFrontPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCardBackPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCardBackPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmunizationFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmunizationFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracticeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracticeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracticePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracticePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactRelationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactRelationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceRelationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceRelationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferencePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferencePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingExpiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingExpiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCVV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCVV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
