@model IEnumerable<WebDevGroupProject.ViewModels.HonorsEligibleReportViewModel>

@{
    ViewData["Title"] = "HonorsReport";
}

<h1>Honors Report</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestedInHonors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestedInHonors)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
