@model IEnumerable<WebDevGroupProject.ViewModels.AcademicRecordReportViewModel>

@{
    ViewData["Title"] = "ScholarshipEligibilityReport";
}

<h1>Scholarship Eligibility Report</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <sortable-link asp-action="ScholarshipEligibilityReport" query-options="ViewBag.QueryOptions" sort-field="ApplicantFirstName">
                @Html.DisplayNameFor(model => model.ApplicantFirstName)
                </sortable-link>
            </th>
            <th>
                <sortable-link asp-action="ScholarshipEligibilityReport" query-options="ViewBag.QueryOptions" sort-field="ApplicantLastName">
                @Html.DisplayNameFor(model => model.ApplicantLastName)
                </sortable-link>
            </th>
            <th>
                <sortable-link asp-action="ScholarshipEligibilityReport" query-options="ViewBag.QueryOptions" sort-field="GPA">
                @Html.DisplayNameFor(model => model.GPA)
                </sortable-link>
            </th>
            <th>
                <sortable-link asp-action="ScholarshipEligibilityReport" query-options="ViewBag.QueryOptions" sort-field="SAT">
                @Html.DisplayNameFor(model => model.SAT)
                </sortable-link>
            </th>
            <th>
                <sortable-link asp-action="ScholarshipEligibilityReport" query-options="ViewBag.QueryOptions" sort-field="ACT">
                @Html.DisplayNameFor(model => model.ACT)
                </sortable-link>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACT)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.AcademicRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcademicRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcademicRecordId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
